@media screen and (min-width: 320px) and (max-width: 767.98px) {
.container {
    max-width: 320px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-page-section {
    padding: 72px 0;
}

.first-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
   
}



.advantages-list {
    flex-direction: column;
    gap: 72px;
}

.advantages-title {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.11;
}

.list-solutions {
    width: 100%;
    max-width: 288px;
}

.icon-second {
    display: none;
}

.portfolio-pictures {
flex-basis: 100%;
max-width: 288px;
}

.end-flex {
    gap: 72px;
}

.logo-p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.p-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.form-subscribe {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

.form-footer {
    flex-direction: column;
}

.subscribe-label {
    opacity: 0.3;
}

.subscribe-email {
    width: 288px;
}

}

@media screen and (min-width: 768px) and (max-width: 1157.98px) {
    .container {
        max-width: 768px;
        flex-wrap: wrap;
        gap: 72px 24px;

    }

    .advantages-list {
        gap: 72px 24px;
        flex-wrap: wrap;
    }

    .advantages-title {
        font-size: 36px;
        font-weight: 500;
        line-height: 1.11;
        }

    .icon-second {
        display: none;
    }

    .team-list {
        gap: 64px 24px;
    }

    .team-images {
        flex-wrap: wrap;
        flex-basis: calc((100% - 24px) / 2);
    }


    .portfolio-pictures {
        flex-basis: ((100% - 24px) / 2);
        max-width: 356px;
    }

    .end-flex {
        padding-left: 108px;
        
    }

    .logo-p {
        margin-right: 0;
    }

    .subscribe-label {
        opacity: 0.3;
    }



}
    
